page-about {
  .popup-icons-holder {
    position: absolute;
    width: 90%;
    z-index: 2;
    background-image: url("../assets/imgs/orange_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    margin: 15% 5%;
    top: 4%;
    min-height: 65%;
    height: auto;
    overflow: scroll;
    padding: 0%;

    #x {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      background: transparent;
      color: #fff;
      z-index: 10;
    }

    img {
      width: auto;
      display: table;
      margin: 0 auto;
    }

    h4,
    p {
      color: #fff;
      margin: 1rem 0 !important;
    }

    a {
      float: right;
    }
  }
  @media screen and (min-width: 767px) {
    .popup-icons-holder {
      position: absolute;
      width: 80%;
      left: 5%;
      margin: 5%;
      top: 5%;
      min-height: 65%;
      height: 65%;
      padding: 2% 5%;
    }
  }

  .popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    left: 0;
  }
}
