page-games {
  #footer-container ion-col p {
    color: #fff !important;
  }

  ion-content p {
    text-align: justify;
    line-height: 2rem !important;
  }

  ion-content img {
    display: table !important;
    margin: 0 auto !important;
  }

  .content-inner {
    padding: 0 0 30px;
  }

  ion-app.ios [padding] .scroll-content {
    padding: 0 16px !important;
  }

  .playlist-audio {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 0;
  }

  .student_class .item-inner {
    margin: 0 !important;
    padding: 0 !important;
  }

  .student_class ion-select {
    width: 100%;
    max-width: 100%;
  }

  .submit-btn {
    margin: 20px auto !important;
  }

  .select-row {
    padding: 10px;
  }
  
  .item-block {
    border: 1px solid #ddd !important;
  }
}