page-fit-zone {
  h2 {
    margin: 1.5rem 0 !important;
    font-size: 2rem !important;
    width: 100%;
  }

  .text-image-icon img {
    padding: 0;
    max-width: 75%;
    float: right;
    margin: 10px 0 !important;
  }

  .user-star {
    position: absolute;
    display: block;
    top: 20vw;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    width: 12vw;
    height: 12vw;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
    background-image: url("../assets/imgs/star_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #ffdd27;
    font-size: 1.2rem !important;
    text-align: center;
    padding: 4vw;
    font-weight: bold;
  }

  .user-fist {
    position: absolute;
    display: block;
    top: -17vw;
    bottom: 0;
    right: 0;
    left: -20vw;
    margin: auto !important;
    width: 12vw;
    height: 12vw;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
    background-image: url("../assets/imgs/fist_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #ffdd27;
    font-size: 1.2rem !important;
    text-align: center;
    padding: 4vw;
    font-weight: bold;
  }
  $toggler-size: 12vw;
  $toggler-color: #021337;
  $toggler-transition: transform 0.5s, top 0.5s;
  $item-count: 8;
  $item-size: $toggler-size * 2;
  $item-color: #021337;
  $item-transition: 0.5s;
  @mixin size ($width, $height: $width) {
    width: $width;
    height: $height;
  }
  @mixin absolute-center {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  @mixin line {
    @include size($toggler-size, $toggler-size/8);
    display: block;
    z-index: 1;
    border-radius: $toggler-size/16;
    background: rgba($toggler-color, 0.7);
    transition: $toggler-transition;
  }

  .scroll-content,
  ion-content {
    overflow: hidden;
    background: white;
  }

  .user-image {
    height: 20vw;
    opacity: 1;
    z-index: 1;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 20vw;
    border-radius: 50%;
    background-image: url("../assets/imgs/no_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .menu-toggler {
    @include absolute-center;
    width: 20vw;
    height: 20vw;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  .menu-toggler ~ ul {
    .menu-item {
      opacity: 1;
    }
    @for $i from 0 through $item-count - 1 {
      .menu-item:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i) translateX(-$item-size - 4vw);
      }
    }

    .menu-item a {
      pointer-events: auto;
    }
  }

  .menu-toggler + .label-home {
    width: 25vw;
    height: auto;
    @include absolute-center;
  }

  .menu-toggler + .label-no-access {
    width: 32vw;
    height: auto;
    @include absolute-center;
    background-image: url("../assets/imgs/no_access_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 5px;
    text-align: center;
  }
  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) a {
      transform: rotate(-360deg / $item-count * $i);
    }
  }
  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) p {
      transform: rotate(-360deg / $item-count * $i);
      position: absolute;
      margin: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .menu-item {
    @include absolute-center;
    @include size(($item-size)-4vw);
    display: block;
    opacity: 0;
    transition: $item-transition;

    p.star {
      background-image: url("../assets/imgs/star_bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      color: #ffdd27;
      padding: 5vw;
      font-size: 1rem !important;
    }

    p.fist {
      background-image: url("../assets/imgs/fist_bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      color: #ffdd27;
      padding: 5vw;
      font-size: 1rem !important;
    }

    p.user-red-dot img {
      width: 2vw;
      height: 2vw;
    }

    p.user-red-dot {
      font-weight: bold;
      top: 15vw;
      right: 18vw;
      margin: 0 !important;
    }
  }

  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: $item-size;
    color: rgba($item-color, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    pointer-events: none;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 0 0 $item-size/40 rgba(white, 0.3);
      color: $item-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-size: $item-size/1.8;
    }

    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
    }
  }

  .footer .toolbar-background {
    border: none !important;
  }

  .footer-helptxt-holder {
    background: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .help-txt {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
  }

  .help-txt p {
    font-size: 1.2rem;
    color: #021337;
    text-align: justify;
  }
  //iPhone 5s/SE
  @media screen and (min-width: 320px) and (max-width : 359px) {
    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
  //iPhone 6
  @media screen and (min-width : 360px) and (max-width : 410px) {
    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
  //iPhone 6
  @media screen and (min-width : 411px) and (max-width : 599px) {
    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
  //iPhone 6
  @media screen and (min-width : 600px) and (max-width : 767px) {
    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
  //iPad Mini/iPad
  @media screen and (min-width : 768px) and (max-width : 1023px) {
    .user-star {
      padding: 5.5vw;
    }

    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
  //iPad Pro
  @media screen and (min-width : 1024px) {
    .user-star {
      padding: 5.5vw;
    }

    .menu-item:nth-child(1) p.star {
      top: 0;
      right: -4vw;
    }

    .menu-item:nth-child(2) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(3) p.star {
      top: -2vw;
      right: 0;
    }

    .menu-item:nth-child(4) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(5) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(6) p.star {
      top: 0;
      right: -2vw;
    }

    .menu-item:nth-child(7) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(8) p.star {
      top: 0;
      right: -3vw;
    }

    .menu-item:nth-child(1) p.fist {
      top: -8vw;
      right: 18vw;
    }

    .menu-item:nth-child(2) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(3) p.fist {
      top: 2vw;
      right: 20vw;
    }

    .menu-item:nth-child(4) p.fist {
      top: 0;
      right: 20vw;
    }

    .menu-item:nth-child(5) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(6) p.fist {
      top: 0;
      right: 19vw;
    }

    .menu-item:nth-child(7) p.fist {
      top: 0;
      right: 18vw;
    }

    .menu-item:nth-child(8) p.fist {
      top: 0;
      right: 20vw;
    }
  }
}