page-fitzone-accept-popup {
  .popup-icons-holder {
    position: absolute;
    width: 90%;
    z-index: 2;
    background: color($colors, primary, base) !important;
    left: 0;
    margin: 5%;
    top: 15%;
    padding: 2% 10%;

    img {
      width: 30vw;
      display: table;
      margin: 0 auto;
    }

    button {
      background-color: #fff !important;
      color: #000 !important;
    }

    .add-photo-circle {
      display: table;
      margin: 5px auto;
    }

    .add-photo-circle img {
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #031337 !important;
    }

    p {
      color: #fff !important;
      text-align: center;
    }
  }

  @media screen and (min-width: 767px) {
    .popup-icons-holder {
      position: absolute;
      width: 60%;
      z-index: 2;
      background: color($colors, primary, base) !important;
      left: 15%;
      margin: 5%;
      top: 15%;
      padding: 2% 10%;
    }
  }

  .popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    left: 0;
  }

  .student_class .item-inner {
    margin: 0 !important;
    padding: 0 !important;
  }

  .student_class ion-select {
    width: 100%;
    max-width: 100%;
  }

  .submit-btn {
    margin: 20px auto !important;
  }

  .select-row {
    padding: 10px;
  }

  .user-item {
    border-radius: 5vw !important;
  }

  .friends-student-avatar {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
    background-clip: padding-box;
    margin: 1.5vw 2vw;
    background-size: cover;
    background-position: center center;
    float: left;
  }
  
  .friends-student-avatar-holder{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
