page-endorser {
  .popup-icons-holder {
    position: absolute;
    width: 90%;
    z-index: 2;
    background-image: url("../assets/imgs/endorse_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    margin: 5%;
    top: 20%;
    min-height: 55%;
    height: 50%;
    overflow: scroll;
    padding: 8%;

    #x {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      margin: 0 auto !important;
      background: transparent;
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
    }

    img {
      width: 20vw;
      display: table;
      margin: 0 auto;
    }

    h4 {
      color: #000;
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1.8rem;
      color: #fff;
    }

    p {
      color: #fff;
      line-height: 2rem;
    }

    button {
      margin: 2rem auto !important;
    }

    .red-color {
      color: #fb0421;
    }

    .white-color{
      color: #FFF !important;
    }
  }
  @media screen and (min-width: 767px) {
    .popup-icons-holder {
      position: absolute;
      width: 60%;
      left: 15%;
      margin: 5%;
      top: 15%;
      min-height: 40%;
      height: 40%;
      padding: 5%;
    }
  }

  .popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    left: 0;
  }
}