<ion-content>

  <ion-slides #slides>

      <!-- <ion-slide class="start-slide">
          <button ion-button color="primary" (click)="nextSlide()">Start!</button>
      </ion-slide> -->

      <ion-slide *ngFor="let question of questions; let j = index;">

          <p>Ask your parents</p>

          <!-- <flash-card [isFlipped]="question.flashCardFlipped">
              <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
              <div *ngIf="(question.flashCardState=='1')" class="flash-card-back" [innerHTML]="question.flashCardCorrect"></div>
              <div *ngIf="(question.flashCardState=='-1')" class="flash-card-back" [innerHTML]="question.flashCardInCorrect"></div>
          </flash-card> -->

          <p>{{question.questionText}}</p>

          <ion-list no-lines class="gender-list form-item">
            <ion-row class="gender-list-row" radio-group>
              <ion-col class="gender-list-col" col-12>
                <div class="gender-container">
                  <div class="container-outer">
                    <div class="container-inner">
                      <ion-item class="gender-radio-group" *ngFor="let answer of question.answers; let i = index;">
                        <ion-label text-start>{{answer.answer}}</ion-label>
                        <ion-radio (click)="selectAnswer(answer, question, j)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
                    </ion-item>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
              
          </ion-list>

      </ion-slide>

  </ion-slides>

</ion-content>