page-add-user-confirm {
  .add-photo-circle {
    display: table;
    margin: 5px auto;
  }

  .add-photo-circle img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #031337 !important;
  }

  .radio-md .radio-inner {
    left: 0;
    top: 0;
    border-radius: 0;
    position: absolute;
    width: 6px;
    height: 12px;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #021337;
    transform: rotate(45deg) !important;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    background-color: transparent !important;
  }

  .radio-md .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 0;
    position: relative;
    display: block;
    width: auto;
    height: 35px;
    border: 1px solid #031337 !important;
    padding: 1.4rem 2rem;
    background-color: #D4D2D3 !important;
  }

  .item-inner {
    padding: 0 !important;
  }

  .radio-md .radio-checked .radio-inner {
    opacity: 1;
  }

  .form-input .item-inner {
    border: 1px solid #031337 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    background: #D4D2D3 !important;
    box-shadow: inset 0 -1px 0 0 #D4D2D3 !important;
  }

  .student_class .item-inner {
    margin: 5px 0 !important;
    padding: 0 !important;
  }

  .student_class ion-select {
    border: 1px solid #031337 !important;
    background: #D4D2D3 !important;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 !important;
    min-height: 35px;
  }

  .datetime-text {
    min-height: 35px !important;
    margin: 0 !important;
    padding: 0.5rem !important;
  }

  .gender-radio-group .input-wrapper {
    overflow: unset !important;
  }

  .text-input {
    margin: 0 !important;
    min-height: 35px;
  }

  .select-icon {
    height: 35px !important;
  }

  .select-text {
    min-height: 35px;
    padding: 0.5rem;
  }

  ion-row ion-col p {
    margin: 2px 0;
  }

  .item {
    padding-left: 0 !important;
  }

  #footer-container ion-col {
    background: #FFF;
  }

  .toolbar-background {
    background: #fff !important;
  }

  .footer-icons-holder,
  .footer-icons-holder ion-col {
    background: #021337 !important;
  }
}