<ion-header no-border id="header-container">
  <ion-navbar>
    <ion-title>
      &nbsp;
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="user-confirm-page">
  <div class="existing-user-confirm-form">
    <form class="form" [formGroup]="validations_form_user" novalidate>
      <ion-list inset class="zero-margin zero-padding">
        <ion-grid class="zero-margin zero-padding">
          <ion-row class="zero-margin zero-padding">
            <ion-col col-12>
              <ion-avatar class="add-photo-circle">
                <img src="{{imgPreview}}" (click)="getPhoto()">
              </ion-avatar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <div>
                <p class="float-left"><b>Name</b>
                </p>
                <p class="float-right">
                  :
                </p>
              </div>
            </ion-col>
            <ion-col col-6>
              <p>{{userDetails?.studentName}}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <div>
                <p class="float-left"><b>MFK id #</b>
                </p>
                <p class="float-right">
                  :
                </p>
              </div>
            </ion-col>
            <ion-col col-6>
              <p>{{userDetails?.studentId}}</p>
            </ion-col>
          </ion-row>

          <ion-row class="select-row">
            <ion-col col-12>
              <ion-item class="user-item">
                <ion-input text-center [(ngModel)]="passwordData.oldpassword" formControlName="oldpassword" type="password" placeholder="Old Password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.oldpassword">
                  <div text-center class="error-message" *ngIf="validations_form_user.get('oldpassword').hasError(validation.type) && (validations_form_user.get('oldpassword').dirty || validations_form_user.get('oldpassword').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <div formGroupName="matching_passwords">
            <ion-row class="select-row">
              <ion-col col-12>
                <ion-item class="user-item">
                  <ion-input text-center [(ngModel)]="passwordData.newpassword" formControlName="newpassword" type="password" placeholder="New Password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.newpassword">
                    <div text-center class="error-message" *ngIf="validations_form_user.get('matching_passwords').get('newpassword').hasError(validation.type) && (validations_form_user.get('matching_passwords').get('newpassword').dirty || validations_form_user.get('matching_passwords').get('newpassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="select-row">
              <ion-col col-12>
                <ion-item class="user-item">
                  <ion-input text-center [(ngModel)]="passwordData.confirmpassword" formControlName="confirmpassword" type="password" placeholder="Confirm Password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.confirmpassword">
                    <div text-center class="error-message" *ngIf="validations_form_user.get('matching_passwords').get('confirmpassword').hasError(validation.type) && (validations_form_user.get('matching_passwords').get('confirmpassword').dirty || validations_form_user.get('matching_passwords').get('confirmpassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <!-- These validations are for the form group -->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message" *ngIf="validations_form_user.get('matching_passwords').hasError(validation.type) && (validations_form_user.get('matching_passwords').get('confirmpassword').dirty || validations_form_user.get('matching_passwords').get('confirmpassword').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-grid>
      </ion-list>
      <button type="submit" class="hiddenSubmitBtn"></button>
    </form>
  </div>
</ion-content>
<ion-footer no-border id="footer-container" class="zero-margin zero-padding">
  <ion-toolbar class="zero-margin zero-padding">
    <ion-row class="action-icons-holder">
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <button class="submit-btn KaushanScript-Regular" ion-button color="danger" [disabled]="!validations_form_user.valid" (click)="changePassword()">Submit</button>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row class="footer-icons-holder">
      <ion-col col-4>
        <div class="back-icon" (click)="goHome()"></div>
      </ion-col>
      <ion-col col-8>
        <img src="assets/imgs/maverick_logo.png" class="logo-img">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>