page-menu-sub {
    .popup-icons-holder {
        position: absolute;
        width: 90%;
        z-index: 2;
        background: color($colors, primary, base) !important;
        left: 0;
        margin: auto; //5%;
        top: 0; //20%;
        padding: 2% 4%;
        bottom: 0;
        right: 0;
        height: max-content;
    
        img {
          width: 30vw;
          display: table;
          margin: 0 auto;
        }
      }
      .menu-head{
        color: white; 
        text-align: center;
      }
      .menu-items-outer{
        margin: 20px 0 20px;
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      li.menu-item{
        width: 50%;
        margin-bottom: 20px;
      }
      li.menu-item a img{
        width: 20vw;
        height: 20vw;
      }
      .menu-items-outer .menu-item p{
        color: #fff;
        text-align: center;
      }
      .menu-item {
        p img {
            width: 2vw;
            height: 2vw;
        }

        p.coach-red-dot {
            font-weight: bold;
            margin: 0 !important;
        }

        // p.coach-red-dot {
        //     top: -4vw;
        //     right: 14vw;
        // }
    }
      @media screen and (min-width: 767px) {
        .popup-icons-holder {
          width: 60%;
        }
      }
    
      .popup-backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: transparent;
        left: 0;
      }
    
      .student_class .item-inner {
        margin: 0 !important;
        padding: 0 !important;
      }
    
      .student_class ion-select {
        width: 100%;
        max-width: 100%;
      }
    
      .submit-btn {
        margin: 20px auto !important;
      }
    
      .select-row {
        padding: 10px;
      }
}
