page-consistency-share {
  h2 {
    margin: 0.5rem 0 !important;
  }

  h4 {
    margin: 1rem 0 !important;
  }

  .text-image-icon img {
    padding: 0;
    max-width: 75%;
    float: right;
    margin: 10px !important;
  }

  .scroll-support {
    overflow-x: auto;
    white-space: nowrap;
  }

  .container {
    float: left;
    padding: 0;
    width: 600px;
    height: 250px;
  }

  .no-data {
    padding: 10vh 0;
  }

  .rounded .progress-fill,
  .rounded .progress-track {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  }

  .year-div {
    padding: 0;
    float: left;
    width: 13vw;
    color: #323232;
    font-size: 1.4rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Vertical */
  .vertical .progress-bar {
    float: left;
    height: 200px;
    width: 13vw;
    margin: 2vw 0 0;
    position: relative;
  }

  .vertical .progress-track {
    position: relative;
    width: 6vw;
    height: 100%;
    background: #ebebeb;
    margin: 0 auto;
  }

  .vertical .progress-fill {
    position: relative;
    background: #3168a3;
    background-image: linear-gradient(to top, #021337, #3168a3);
    height: 50%;
    width: 6vw;
    color: #fff;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 20px;
  }

  .rounded .progress-fill,
  .rounded .progress-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
  }

  .imageContent img {
    display: table;
    margin: 0 auto;
  }

  .textContent p {
    text-align: justify;
    line-height: 2rem;
  }

  .add-photo-circle {
    display: table;
    margin: 5px auto;
  }

  .add-photo-circle img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #031337 !important;
  }

  .user-star {
    position: absolute;
    display: block;
    top: 25vw;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    width: 16vw;
    height: 22vw;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
    background-image: url("../assets/imgs/star_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #ffdd27;
    font-size: 1.4rem !important;
    text-align: center;
    padding-top: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .footer .toolbar-background {
    border: none !important;
  }

  .footer-helptxt-holder {
    background: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .help-txt {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
  }

  .help-txt p {
    font-size: 1.2rem;
    color: #021337;
    text-align: justify;
  }

  .footer-icons-holder.row {
    padding: 1vw 0;

    img {
      float: none;
      margin: 0 auto;
      display: table;
    }
  }
}
