page-insight {
  h2 {
    margin: 1.5rem 0 !important;
  }

  .textContent {
    padding: 0 0 30px;
  }

  .text-image-icon img {
    padding: 0;
    max-width: 75%;
    float: right;
    margin: 10px !important;
  }

  .imageContent img {
    display: table;
    margin: 0 auto;
  }

  .textContent p {
    text-align: justify;
    line-height: 2rem;
  }

  .content-inner {
    text-align: justify;
    line-height: 2rem;
    white-space: pre-wrap;
  }

  .footer .toolbar-background {
    border: none !important;
  }

  .footer-helptxt-holder {
    background: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .help-txt {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
  }

  .help-txt p {
    font-size: 1.2rem;
    color: #021337;
    text-align: justify;
  }
}