page-add-user-register {
  .list .item-block .item-inner {
    border: 1px solid #031337 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    background: #D4D2D3 !important;
    box-shadow: inset 0 -1px 0 0 #D4D2D3 !important;
  }

  .sub-heading {
    margin: 0 !important;
    padding-top: 20px;
  }

  .toolbar-background {
    background: #fff !important;
  }

  p {
    margin: 0.8rem 0;
  }

  .inner-txt,.reg-txt {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  #footer-container ion-col {
    background: #FFF;
  }

  .footer-icons-holder,
  .footer-icons-holder ion-col {
    background: #021337 !important;
  }

  .note-txt {
    font-size: 1.3rem;
    font-style: italic;
  }
}
