<ion-header no-border id="header-container">
  <ion-navbar>
    <ion-title>
      &nbsp;
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding text-center class="user-register-page">
  <h2 text-center class="sub-heading KaushanScript-Regular">User Login</h2>
  <p text-center class="inner-txt">Please enter your details as registered with us to activate your account.</p>
  <form class="form" (ngSubmit)="signIn()" [formGroup]="validations_form_existing_user" novalidate>
    <ion-list inset>
      <ion-item>
        <ion-input text-center [(ngModel)]="loginData.existing_student_name" (keyup)="onKeyupExistingUser()" formControlName="existing_student_name" type="text" placeholder="Student's Name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages_existing_user.existing_student_name">
          <div text-center class="error-message" *ngIf="validations_form_existing_user.get('existing_student_name').hasError(validation.type) && (validations_form_existing_user.get('existing_student_name').dirty || validations_form_existing_user.get('existing_student_name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-input text-center [(ngModel)]="loginData.existing_student_mfk_id" (keyup)="onKeyupExistingUser()" formControlName="existing_student_mfk_id" type="password" placeholder="MFK #"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages_existing_user.existing_student_mfk_id">
          <div text-center class="error-message" *ngIf="validations_form_existing_user.get('existing_student_mfk_id').hasError(validation.type) && (validations_form_existing_user.get('existing_student_mfk_id').dirty || validations_form_existing_user.get('existing_student_mfk_id').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <button type="submit" class="hiddenSubmitBtn"></button>
    </ion-list>
    <ion-row class="action-icons-holder">
      <ion-col col-12>
        <button class="submit-btn KaushanScript-Regular" ion-button color="danger" (click)="signIn()">Submit</button>
      </ion-col>
    </ion-row>
  </form>
  <br />
  <h2 text-center class="sub-heading KaushanScript-Regular">New Registrations</h2>
  <p text-center>To enrol a new student and / or buy a Fit Kids Kit.</p>
  <form class="form">
    <ion-row class="action-icons-holder">
      <ion-col col-12>
        <a class="submit-btn KaushanScript-Regular" ion-button color="danger" onclick="window.open('http://www.maverickfitkids.net', '_system', 'location=yes'); return false;" href="#">Register</a>
        <!-- <button class="submit-btn KaushanScript-Regular" ion-button color="danger" (click)="signUpLink()">Register</button> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer no-border id="footer-container" class="zero-margin zero-padding">
  <ion-toolbar class="zero-margin zero-padding">
    <!-- <ion-row class="action-icons-holder">
      <ion-col col-12>
        <button class="submit-btn KaushanScript-Regular" ion-button color="danger" [disabled]="!enable_btn" (click)="signIn()">Submit</button>
      </ion-col>
    </ion-row> -->
    <ion-row *ngIf="showFooter" class="footer-icons-holder">
      <ion-col col-4>
        <div class="back-icon" (click)="goHome()"></div>
      </ion-col>
      <ion-col col-8>
        <img src="assets/imgs/maverick_logo.png" class="logo-img">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>