page-about-guide-popup {
  .popup-icons-holder {
    position: absolute;
    width: 90%;
    z-index: 2;
    background: #fff !important;
    left: 0;
    margin: 5%;
    top: 5%;
    min-height: 74%;
    height: 60%;
    overflow: scroll;
    padding: 2% 5%;

    #x {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      background: #ddd;
    }

    img {
      width: 30vw;
      display: table;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 767px) {
    .popup-icons-holder {
      position: absolute;
      width: 60%;
      left: 15%;
      margin: 5%;
      top: 5%;
      padding: 2% 5%;
    }
  }

  .popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    left: 0;
  }
}