<ion-header no-border id="header-container">
  <ion-navbar>
    <ion-title>
      &nbsp;
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 text-center class="KaushanScript-Regular top-title">Users</h2>
  <ion-grid class="zero-margin zero-padding add-user-list">
    <ion-row class="zero-margin zero-padding users-row ripple1">
      <ion-col col-3 class="zero-margin zero-padding">
        <img *ngIf="(userStatus1=='0')" class="lockunlock not-visible" src="assets/imgs/green_lock.png">
        <img *ngIf="(userStatus1=='1')" class="lockunlock" src="assets/imgs/green_lock.png" (click)="updateUserStatus(userId1,userStatus1)">
        <img *ngIf="(userStatus1=='2')" class="lockunlock" src="assets/imgs/red_lock.png" (click)="updateUserStatus(userId1,userStatus1)">
        <div class="user-profile-avatar profile-avatar1" (click)="selectUser(userId1,1)"></div>
      </ion-col>
      <ion-col col-4 class="user-label zero-margin zero-padding" (click)="selectUser(userId1,1,redDotVisible1,userStatus1)">
        <p>
          {{userName1}}
          <!-- <sub *ngIf="redDotVisible1 not-visible"><img src="assets/imgs/red_dot.png"></sub> -->
        </p>
      </ion-col>
      <ion-col col-2 class="user-stars zero-margin zero-padding">
        <img *ngIf="(userId1!='0')" src="assets/imgs/red_star.png">
        <span *ngIf="(userId1!='0')">{{userStar1}}</span>
      </ion-col>
      <ion-col col-3 class="lockunlock-switch zero-margin zero-padding">
        <ion-toggle *ngIf="(userStatus1=='1')" [(ngModel)]="redDotVisible1" (ionChange)="enableActiveUser(userId1,userStatus1,1)"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row class="zero-margin zero-padding users-row ripple2">
      <ion-col col-3 class="zero-margin zero-padding">
        <img *ngIf="(userStatus2=='0')" class="lockunlock not-visible" src="assets/imgs/green_lock.png">
        <img *ngIf="(userStatus2=='1')" class="lockunlock" src="assets/imgs/green_lock.png" (click)="updateUserStatus(userId2,userStatus2)">
        <img *ngIf="(userStatus2=='2')" class="lockunlock" src="assets/imgs/red_lock.png" (click)="updateUserStatus(userId2,userStatus2)">
        <div class="user-profile-avatar profile-avatar2" (click)="selectUser(userId2,2)"></div>
      </ion-col>
      <ion-col col-4 class="user-label zero-margin zero-padding" (click)="selectUser(userId2,2,redDotVisible2,userStatus2)">
        <p>
          {{userName2}}
          <!-- <sub *ngIf="redDotVisible2 not-visible"><img src="assets/imgs/red_dot.png"></sub> -->
        </p>
      </ion-col>
      <ion-col col-2 class="user-stars zero-margin zero-padding">
        <img *ngIf="(userId2!='0')" src="assets/imgs/red_star.png">
        <span *ngIf="(userId2!='0')">{{userStar2}}</span>
      </ion-col>
      <ion-col col-3 class="lockunlock-switch zero-margin zero-padding">
        <ion-toggle *ngIf="(userStatus2=='1')" [(ngModel)]="redDotVisible2" (ionChange)="enableActiveUser(userId2,userStatus2,2)"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row class="zero-margin zero-padding users-row ripple3">
      <ion-col col-3 class="zero-margin zero-padding">
        <img *ngIf="(userStatus3=='0')" class="lockunlock not-visible" src="assets/imgs/green_lock.png">
        <img *ngIf="(userStatus3=='1')" class="lockunlock" src="assets/imgs/green_lock.png" (click)="updateUserStatus(userId3,userStatus3)">
        <img *ngIf="(userStatus3=='2')" class="lockunlock" src="assets/imgs/red_lock.png" (click)="updateUserStatus(userId3,userStatus3)">
        <div class="user-profile-avatar profile-avatar3" (click)="selectUser(userId3,3)"></div>
      </ion-col>
      <ion-col col-4 class="user-label zero-margin zero-padding" (click)="selectUser(userId3,3,redDotVisible3,userStatus3)">
        <p>
          {{userName3}}
          <!-- <sub *ngIf="redDotVisible3 not-visible"><img src="assets/imgs/red_dot.png"></sub> -->
        </p>
      </ion-col>
      <ion-col col-2 class="user-stars zero-margin zero-padding">
        <img *ngIf="(userId3!='0')" src="assets/imgs/red_star.png">
        <span *ngIf="(userId3!='0')">{{userStar3}}</span>
      </ion-col>
      <ion-col col-3 class="lockunlock-switch zero-margin zero-padding">
        <ion-toggle *ngIf="(userStatus3=='1')" [(ngModel)]="redDotVisible3" (ionChange)="enableActiveUser(userId3,userStatus3,3)"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row class="zero-margin zero-padding users-row ripple4">
      <ion-col col-3 class="zero-margin zero-padding">
        <img *ngIf="(userStatus4=='0')" class="lockunlock not-visible" src="assets/imgs/green_lock.png">
        <img *ngIf="(userStatus4=='1')" class="lockunlock" src="assets/imgs/green_lock.png" (click)="updateUserStatus(userId4,userStatus4)">
        <img *ngIf="(userStatus4=='2')" class="lockunlock" src="assets/imgs/red_lock.png" (click)="updateUserStatus(userId4,userStatus4)">
        <div class="user-profile-avatar profile-avatar4" (click)="selectUser(userId4,4)"></div>
      </ion-col>
      <ion-col col-4 class="user-label zero-margin zero-padding" (click)="selectUser(userId4,4,redDotVisible4,userStatus4)">
        <p>
          {{userName4}}
          <!-- <sub *ngIf="redDotVisible4 not-visible"><img src="assets/imgs/red_dot.png"></sub> -->
        </p>
      </ion-col>
      <ion-col col-2 class="user-stars zero-margin zero-padding">
        <img *ngIf="(userId4!='0')" src="assets/imgs/red_star.png">
        <span *ngIf="(userId4!='0')">{{userStar4}}</span>
      </ion-col>
      <ion-col col-3 class="lockunlock-switch zero-margin zero-padding">
        <ion-toggle *ngIf="(userStatus4=='1')" [(ngModel)]="redDotVisible4" (ionChange)="enableActiveUser(userId4,userStatus4,4)"></ion-toggle>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer no-border color='primary' id="footer-container" class="zero-margin zero-padding">
  <ion-toolbar color='primary' class="zero-margin zero-padding">
    <ion-row class="instruction-icons-holder">
      <ion-col col-4 (click)="openModal('AboutPage')">
        <img src="assets/imgs/info_icon.png" class="instruction-icon">
        <p class="help-text">
          About
        </p>
      </ion-col>
      <ion-col col-4 (click)="goPage('DemoPage')">
        <img src="assets/imgs/demo_icon.png" class="instruction-icon">
        <p class="help-text">
          Demo
        </p>
      </ion-col>
      <ion-col col-4 (click)="openModal('CredentialsPage')">
        <img src="assets/imgs/credentials_icon.png" class="instruction-icon">
        <p class="help-text">
          Credentials
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="footer-icons-holder">
      <ion-col col-4>
        <div class="back-icon" (click)="goHome()"></div>
      </ion-col>
      <ion-col col-8>
        <img src="assets/imgs/maverick_logo.png" class="logo-img">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>